.errorModal {
	position: relative;
	width: 480px;
	padding: 24px;
	background: url("/images/steel-brkn.png");
	background-position: 30% 80%;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.buttons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 16px 16px 0 16px;
	gap: 8px;
}
