.mapBox {
	canvas {
		width: 112px;
		height: 112px;
	}
}

.selectionFrame {
	margin: 1px;
	padding: 1px;
	border: 4px solid #0000;
	border-radius: 2px;
	filter: grayscale(90%) brightness(50%);
	opacity: 0.7;
}

.null .selectionFrame {
	cursor: not-allowed;
}

.selected .selectionFrame {
	opacity: 0.9;
	filter: none;
}
