.squareBrokenButton {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 31px;
	padding: 2px;
	color: var(--text-darker-color);
	font-size: 24px;
	text-shadow: 1px 1px 2px #000c;
	background: none;
	border: 2px solid #0005;
	border-radius: 4px;
	border-top-color: #fff5;
	border-left-color: #fff5;
	outline: 1px solid #000c;
	outline-offset: 1px;
	box-shadow:
		-2px -2px 2px var(--button-pressed-light-border-color),
		2px 2px 2px var(--button-dark-border-color),
		;
	text-shadow: -1px -1px 1px #000;
	filter: grayscale(100%);

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: #2b1d1560;
	}

	div {
		height: calc(1em - 0.2em);
		vertical-align: bottom;
	}
}
