.squareRippedButton {
	display: flex;
	margin: 3px 0 0 3px;
	background: url("/images/pcb.png");
	border: 1px solid #fff5;
	border-radius: 4px;
	border-top-color: #0005;
	border-left-color: #000c;
	box-shadow: inset 3px 3px 4px 1px #000;
}
