.standardBrokenButton {
	position: relative;
	height: 31px;
	padding: 3px 8px;
	color: var(--text-darker-color);
	text-shadow: 1px 1px 2px #000c;
	background: none;
	border: 2px solid #0005;
	border-radius: 4px;
	border-top-color: #fff2;
	border-left-color: #fff2;
	outline: 1px solid #000c;
	outline-offset: 1px;
	box-shadow:
		-2px -2px 2px var(--button-pressed-light-border-color),
		2px 2px 2px var(--button-dark-border-color),
		inset -2px -2px 3px var(--button-light-border-color),
		inset 1px 2px 3px var(--button-dark-border-color)
		;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		background: #2b1d1560;
	}
}
