.modal {
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(5px);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
