@keyframes scan_animation {
	0% { transform: translateY(-1000%); }
	100% { transform: translateY(100%); }
}

@keyframes flicker {
	0% { mix-blend-mode: screen; }
	10% { mix-blend-mode: plus-lighter; }
	15% { mix-blend-mode: screen; }
	20% { mix-blend-mode: plus-lighter; }
	25% { mix-blend-mode: screen; }
	30% { mix-blend-mode: plus-lighter; }
	35% { mix-blend-mode: screen; }
	80% { mix-blend-mode: plus-lighter; }
	100% { mix-blend-mode: screen; }
}


.screen {
	position: relative;
	width: 100%;
	height: 100%;

	background: #000;
}

.dummyGlass {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 4px;

	border-radius: 8px;

	visibility: hidden;
}

.glass {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 4px;

	border-radius: 8px;
	mix-blend-mode: lighten;

	background:
		linear-gradient(to bottom, #000a, #0007 8px, #0000),
		linear-gradient(181deg, #0000, #fff9 2px, #0000 6px),
		linear-gradient(155deg, #db6a0044, #a703 10%, #0000 50%),
		linear-gradient(to top, #000a, #0007 8px, #0000),
		linear-gradient(to right, #000705a0, #c4c7c7a0 3px, #545656a0 10px, #232826a0 80px, #000704a0),
		url("/images/noise-heavy.png") repeat;

	&::after {
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		content: "";
		transform: translateY(-100%);
		background: linear-gradient(to bottom,
			#0000 0%,
			#f692 0.075%,
			#ff62 0.15%,
			#9f62 0.225%,
			#6ff2 0.30%,
			#a9f2 0.375%,
			#0004 0.375%,
			#0000 10%
		);
		background-size: 100% 1000%;
		animation: scan_animation 12s ease-in-out 0s infinite paused;
		animation-delay: inherit;
		animation-duration: inherit;
		opacity: 0;
		pointer-events: none;
	}
}

.glassAnimation {
	&::after {
		animation-play-state: running;
		opacity: 1;
	}
}

.content {
	mix-blend-mode: plus-lighter;
	isolation: isolate;

	color: var(--screen-primary-color);

	&::after {
		position: absolute;
		top: 4px;
		left: 4px;
		right: 4px;
		bottom: 4px;
		content: "";
		background: repeating-linear-gradient(
			180deg,
			#0003 0px,
			#0003 1px,
			transparent 2px,
			transparent 3px
		);
		background-repeat: repeat;
		background-size: 100% 4px;
		pointer-events: none;
	}
}

.flicker {
	animation: flicker 1s linear 1;
}

.static {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: "";
	background: url("/images/static.gif") repeat;
	background-size: 100% 256px;
	opacity: 0.5;
	mix-blend-mode: color-dodge;
}
